-- AlterEnum
BEGIN;
CREATE TYPE "SweetnessLevel_new" AS ENUM ('NONE', 'QUARTER', 'HALF', 'THREE_QUARTER', 'FULL');
ALTER TABLE "order_items" ALTER COLUMN "sweetness" DROP DEFAULT;
ALTER TABLE "order_items" ALTER COLUMN "sweetness" TYPE "SweetnessLevel_new" USING ("sweetness"::text::"SweetnessLevel_new");
ALTER TYPE "SweetnessLevel" RENAME TO "SweetnessLevel_old";
ALTER TYPE "SweetnessLevel_new" RENAME TO "SweetnessLevel";
DROP TYPE "SweetnessLevel_old";
ALTER TABLE "order_items" ALTER COLUMN "sweetness" SET DEFAULT 'HALF';
COMMIT;

-- AlterTable
ALTER TABLE "order_items" ALTER COLUMN "sweetness" SET DEFAULT 'HALF';

